{% extends 'base.html.twig' %}

{% block title %} Blizzard Community {% endblock %}

{% block content %}
    <img class="img-fluid" src="{{ asset('images/Subgroup/Blizzard/Banner.png') }}">
    <p>
        Are you a fan of the Blizzard games?
        Or maybe you're just a fan of one of them?
        Looking for some fellow gamers to dungeon crawl with, raid with, or survive the Zerg swarm with?
        Whether it's finding out how to become competitive in Starcraft, Overwatch, or Hearthstone.
        Or maybe you need to find some people to raid with in World of Warcraft, or a team to join you in Heroes of the Storm, we'll help you find it!
    </p>
    <p><i>We meet during the weekly meetings.</i></p>
    <br>
    <h2>E-Board</h2>
    {% include 'utility/board.html.twig' %}
{% endblock %}