{% extends 'base.html.twig' %}

{% block title %} DOTA2 Community {% endblock %}

{% block content %}
    <div class="text-center">
        <img class="img-fluid" src="{{ asset('images/Subgroup/DOTA2/Banner.png') }}">
    </div>
    <p>
        The Dota 2 community at RIT is a place for all fans of the game to discuss, watch, and play together.
        We aim to establish a community of people who enjoy Dota 2 by promoting interactions with players both online and offline throughout EGS, RIT, and the Greater Rochester Area.
        We host many events including student body meetings, viewing parties, tournaments, in-house games, as well as social gatherings.
        We hope to raise awareness of Dota 2 across the campus and help introduce new players to the game.
    </p>
    <br>
    <h2>E-Board</h2>
    {% include 'utility/board.html.twig' %}
{% endblock %}