{% extends 'base.html.twig' %}

{% block title %} Minecraft Community {% endblock %}

{% block content %}
    <div class="text-center">
        <img class="img-fluid" src="{{ asset('images/Subgroup/Minecraft/Banner.png') }}">
    </div>
    <p>
        Join the official Minecraft community of RIT and EGS, RITcraft!
        RITcraft is a Minecraft survival server where members of the community can work on projects, colonize the world, and build your empire.
        RITcraft runs the latest version of Spigot and stays up-to-date with the development of Minecraft.
    </p>
    <p>Server Information</p>
    <ul>
        <li>Server: mc.ritcraft.net</li>
        <li>Website: ritcraft.net</li>
        <li>Slack: ritcraft.slack.com/signup</li>
    </ul>
    <br>
    <h2>E-Board</h2>
    {% include 'utility/board.html.twig' %}
{% endblock %}