{% extends 'base.html.twig' %}

{% block title %} Pokemon Community {% endblock %}

{% block content %}
    <img class="img-fluid" src="{{ asset('images/Subgroup/Pokemon/Banner.png') }}">
    <p>
        Do you like Pokemon?
        Do you like battling?
        Do you want to learn how to get ready for a competition?
        Or maybe you just like the designs?
        Maybe they're just cool? Whatever the reason, come and hang out with us!
    </p>
    <p><i>We meet during the weekly meetings and Friday 5-9PM in Golisano 1300.</i></p>
    <a href="https://facebook.com/groups/RITPokemonLeague" class="btn bg-egs-orange w-100">Facebook: facebook.com/groups/RITPokemonLeague</a>
    <br>
    <h2>E-Board</h2>
    {% include 'utility/board.html.twig' %}
{% endblock %}