{% extends 'base.html.twig' %}

{% block title %} Rhythm Gaming Community {% endblock %}

{% block content %}
    <div class="text-center">
        <img class="img-fluid" src="{{ asset('images/Subgroup/Rhythm/banner.png') }}">
    </div>
    <img class="img-fluid" src="{{ asset('images/Subgroup/Rhythm/banner.png') }}">
    <p>
        Community of gamers with an active interest in rhythm-based games. We accept any and all skill levels. Even if you're brand new to the games, we'll help you and teach you.
    </p>
    <p><i>We meet during the weekly meetings and Sunday 2-5PM in Golisano 3445.</i></p>
    <br>
    <h2>E-Board</h2>
    {% include 'utility/board.html.twig' %}
{% endblock %}