/*header*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html{
	height: 100%;
}

body{
	background-color: #0d0d0d;
	height: 100%;
	width: 100%;
}

@font-face {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    src: url(../fonts/Tuffy.otf);
}

header{
	width:100%;
}

nav {
	width: 960px;
	margin: 0px auto;
}

#header{
	width: 960px;
	margin: 0px auto;
	height: 128px;
	position: relative;
	display: table;
	background-color: #333333;
}

#navbar{
	/* float: none; */
	width: 760px;
	overflow: hidden;
	display: table;
}

.navbar-hidden {
	display: none !important;
}

div[id*='-navbar'] {
	width: 760px;
	overflow: hidden;
	display: table;
}

#headerLogo{
	background-color: #333333;
	border-bottom: 1px solid gray;
	float: left;
	width: 200px;
	/* position: absolute; */
}

#logoImg{
	width: 200px;
}

#nav {
	float: none;
	width: 760px;
	margin: 0;
	list-style: none;
	height: 64px;
	padding: 0;
	text-align: center;
}

li {
	float: none;
	color:white;
	display: inline-block;
	/* background-color:black; */
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	height: 64px;
	line-height: 48px;
	text-align: center;
	/* border-right:1px solid #bbb; */
	/* border-left:1px solid #bbb; */
	padding: 0 10px;
}

li a {
	display:block;
	text-align:center;
	height: 64px;
	text-decoration:none;
	color:white;
	text-align: center;
	padding: 10px;
	position: relative;
}

li:hover:not(.active):not(.active2) a{
	background-color: #e59a4e;
}

.active{
	background-color: #FF8000;
}

.active2 {
	background-color: #ff9123;
}
		
#subgroup{
	float:left;
	z-index:-1;
	position:absolute;
	margin-top:5px;
}

#subgroup li{
	width:160px;	
	background-color:#4c4b4b;
}

#container{
	width: 960px;
	margin: 0px auto;
	height: 100%;
	position: relative;
	display: table;
}

#content{
	background-color: black;
	float: right;
	width: 760px;
	overflow: hidden;
	border-left-style: solid;
	border-width: 5px;
	height: 100%;
	color: white;
}

#sidebar{
	background-color: #333333;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: white;
	float: left;
	width: 200px;
	min-height: 100%;
	height: 100%;
	position: absolute;
	border-right: 1px solid gray;
	text-align:center;
}

.serverName {
	color: #e17d18;
}

.socialImage {
	width: 30px;
	height: 30px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.socialLink {
	text-decoration: none;
}

#footer{
	clear: both;
	width: 100%;
	bottom: 0px;
	text-align: center;
	height: 50px;
}

.footer {
	width: 960px;
	color: #bbb;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 10px;
	font-size: 14px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#SB:hover #subgroup{
	display:block;
	z-index:2;
}

#intro{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	width:600px;	
	padding:10px;
	font-size:18px;
	margin-top:10px;
	margin-left:auto;
	margin-right: auto;
	text-align:center;
	
}

#slideshow{
	margin-left:auto;
	margin-right: auto;
}

.carousel {
	margin-left: 30px;
	margin-right: 30px;
}

.mySlides{
	height:auto;	
}

/*About Page*/

#aboutIntro{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	width:600px;	
	padding:10px;
	font-size:14px;
	margin-top:10px;
	float:left;
	margin-left:45px;
	
}

.aboutPic{
	width:100px;
	float:left;
	margin:10px;	
	margin-left:40px;
}

.aboutDetails{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	float:left;
	margin:10px;
	width:180px;
	margin-top:30px;
}

/*Subgroup Pages*/

#banner{
	max-width:100%;
}

#details{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin:20px 30px 20px 20px;
	font-size:16px;
}

#info{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:14px;
	margin-top:10px;
	margin-bottom: 20px;
	text-align: center;
}

h1{
	text-align: center;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 30px;
}

h2{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	margin-top: 10px;
}

#center{
	text-align: center;
}

.wrapper{
   position: absolute;
   margin: 0 auto;
   width: 700px;
}

.wrap {
	padding: 0 40px;
	margin: 0 auto;
	overflow: hidden;
}

.inner {
	max-width: 1056px;
    width: 100%;
	margin: 0 auto;
	overflow: hidden;
    box-sizing: border-box;
}

.fourcol {
	float: left;
	width: 24%;
    margin-left: 1%;
    margin-right: 0;
	margin-bottom: 20px;
    box-sizing: border-box;
}

.fourcol:first-child{
	margin-left: 0;
}

.About{
	width:100px;
	display: block;
	margin: 0 auto;
}

.Details{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.community-important {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.community-important-info-header {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 30px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.community-important-info {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/*Membership Page*/

#memberH1{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:24px;
	margin: 20px 40px 5px 40px;
}

#memberH2{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:18px;
	margin: 10px 40px 0px 80px;
}

#Membership{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;	
	font-size:14px;
	margin: 0px 40px 0px 40px;
}

.membership-link {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:18px;
	text-decoration: underline;
	color: white;
}

.Benefit{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;	
	font-size:14px;
	margin: 0px 40px 0px 100px;
}

/* Events Page */

.LansH1 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:24px;
	margin: 20px 40px 5px 40px;
}

.LansH2 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:18px;
	margin: 20px 40px 5px 40px;
}

.LansH3 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:16px;
	margin: 10px 40px 5px 40px;
}

.rules-link {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-decoration: underline;
	color: white;
}

#LAN b {
	font-weight: bold;
}

#LansDetail{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:14px;
	margin: 0px 40px 0px 40px;
}

.Upcoming{
	margin:25px;
	width: 43%;
	height:auto;
	display: inline;
}

.Weekly, .LAN, .Tournament{
	float: left;
	margin: 20px;
	width: 28%;
}

.trendnet-sponsor {
	width: 50%;
	height: 50%;
	margin: 0 auto;
	display: block;
}

/* Preload Images for Events Page */
body:after {
  content: url(../images/close.png) url(../images/loading.gif) url(../images/prev.png) url(../images/next.png);
  display: none;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 4px;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../images/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../images/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.board-header {
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align: center;
	margin-bottom: 10px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.board-picture {
	width: 100px;
	height: 100px;
	margin-right: 20px;
	margin-left: 10px;
}

.board-picture-img {
	width: 100px;
	height: 100px;
}

.board-row {
}
.board-divider-row {
	height:10px;
}

.board-text {
	width: 200px;
	vertical-align: top;
}

.board-text-inner {
	margin-top: 5px;
	margin-left: 5px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.board-table {
	width: 600px;
	margin-left: auto;
}

.board-position {
	font-size: 18px;
	margin-top: 10px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.board-member-details {
	margin-top: 5px;
}

.email2 {
	margin-top: 5px;
	margin-bottom: 5px;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
