{% extends 'base.html.twig' %}

{% block title %} EGS Legends: LAN of the Wild {% endblock %}

{% block content %}
    <div id="content">
        <div style="width: 765px; height: 239px; text-align:center; font-size:40px; vertical-align: middle;">
            EGS Legends: LAN of the Wild
        </div>
        <p id="LansDetail">
            EGS Legends: LAN of the Wild is a gamer's dream come true! At this 200-man LAN (BYOC) there will be many activities, tournaments, games, and surprises! Take a look at the schedule to find out when and what is happening!
        </p>
        <h2 class="LansH1">Important Information</h2>
        <b>Dates:</b> September 23rd at 11:00AM* to September 24th at 3:00PM<br><sup> *Non-members can enter at 10:00AM</sup>
        <b>Non-member price</b>: $16 <a href="https://www.rittickets.com/Online/default.asp?doWork::WScontent::loadArticle=Load&BOparam::WScontent::loadArticle::article_id=BDAE0476-8627-4BB9-BE6A-06A7F33895B4&menu_id=D98F40F7-0703-4122-B3CC-1BEBC338C7C3">here</a> or in person at the Polisseni Center box office.<br>
        <b>Members price: $11 at the Polisseni Center box office</b><br>
        <b>Where:</b> The SAU Cafeteria<br>
        <b><a href="#rules">Rules</a></b>
        <br><br><br>
        <h2 class="LansH1">Tournament List</h2>
        <b>CS:GO</b><br>
        <b>DOTA2</b><br>
        <b>Blind Fighting</b><br>
        <b>Smash</b><br>
        <br><br><br>
        <h2 class="LansH1">Schedule</h2>
        <b>September 23rd</b><br>
        <i>10:00AM</i> - Member opening<br>
        <i>11:00AM</i> - Public opening<br>
        <i>1:00PM to 4:30PM</i> - CS:GO Tournament<br>
        <i>2:00PM to 5:30PM</i> - Destiny 2 Feature<br>
        <i>6:30PM to 9:30PM</i> - DOTA2 Tournament<br>
        <i>7:00PM to 8:00PM</i> - Harddrive Shuffleboard<br>
        <i>8:00PM to 10:00PM</i> - Starwhal Feature
        <i>10:00PM to 1:00AM (Sunday)</i> - Rhythm Games Feature<br>
        <i>11:00PM to 2:00AM (Sunday)</i> - Blind Fighting Tournament<br>
        <br>
        <b>September 24th</b>
        <i>4:00AM to 6:30AM</i> - MS Paint Tournament<br>
        <i>4:30AM to 9:00AM</i> - Smash Tournament<br>
        <i>11:30AM to 1:30PM</i> - Town of Salem Feature<br>
        <i>1:00PM to 2:30PM</i> - CS:GO Gungame<br>
    </div>
{% endblock %}

{% block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/websiteStyles2.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/homepage/homepage.js') }}"></script>
{% endblock %}
