{% extends 'base.html.twig' %}

{% block title %} EGS Legends: LAN of the Wild {% endblock %}

{% block content %}
    <div id="content">
        <div style="width: 765px; height: 239px; text-align:center; font-size:40px; vertical-align: middle;">
            EGS Legends: LAN of the Wild
        </div>
        <p id="LansDetail">
            EGS Legends: LAN of the Wild is a gamer's dream come true! At this 200-man LAN (BYOC) there will be many activities, tournaments, games, and surprises! Take a look at the schedule to find out when and what is happening!
        </p>
        <center id="LAN">
            <h2 class="LansH2">Important Information</h2>
            <p id="LansDetail">
                <b>Dates:</b> September 23rd at 11:00AM to September 24th at 3:00PM<br>
                <b>Non-member price</b>: $16<br>
                <b>Members price:</b> $11<br>
                <b>Where:</b> The SAU Cafeteria<br>
                <b><a href="#rules">Rules</a></b>
            </p>
            <br><br>
            <h2 class="LansH2">Tournament List</h2>
            <p id="LansDetail">
                <b>CS:GO</b><br>
                <b>DOTA2</b><br>
                <b>Blind Fighting</b><br>
                <b>Smash</b><br>
            </p>
            <br><br>
            <h2 class="LansH2">Schedule</h2>
            <p id="LansDetail">
                <h3 class="LansH3">September 23rd</h3><br>
                <i>10:00AM</i> - Member opening<br>
                <i>11:00AM</i> - Public opening<br>
                <i>1:00PM to 4:30PM</i> - CS:GO Tournament<br>
                <i>2:00PM to 5:30PM</i> - Destiny 2 Feature<br>
                <i>6:30PM to 9:30PM</i> - DOTA2 Tournament<br>
                <i>7:00PM to 8:00PM</i> - Harddrive Shuffleboard<br>
                <i>8:00PM to 10:00PM</i> - Starwhal Feature
                <i>10:00PM to 1:00AM (Sunday)</i> - Rhythm Games Feature<br>
                <i>11:00PM to 2:00AM (Sunday)</i> - Blind Fighting Tournament<br>
                <br>
                <h3 class="LansH3">September 24th</h3>
                <i>4:00AM to 6:30AM</i> - MS Paint Tournament<br>
                <i>4:30AM to 9:00AM</i> - Smash Tournament<br>
                <i>11:30AM to 1:30PM</i> - Town of Salem Feature<br>
                <i>1:00PM to 2:30PM</i> - CS:GO Gungame<br>
            </p>
        </center>
    </div>
{% endblock %}

{% block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/websiteStyles2.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/homepage/homepage.js') }}"></script>
{% endblock %}
