{% extends 'base.html.twig' %}

{% block title %} About {% endblock %}
{% block content %}
    <p>
        Electronic Gaming Society (EGS) is a Rochester Institute of Technology student government sponsored club, operated by students on a volunteer basis.
        EGS's mission is to provide the best gaming events to all varieties of gamers and non-gamers.
    </p>
    <p>For general questions, comments, or event requests: info@egsrit.com</p>
    <br>
    {% include 'utility/board.html.twig' %}
{% endblock %}