{% extends 'base.html.twig' %}

{% block title %} About {% endblock %}
{% block content %}
    <div id="content">
        <div class="community-important">
            <div class="community-important-info">
                <br>
                Electronic Gaming Society (EGS) is a Rochester Institute of Technology student government sponsored club, operated by students on a volunteer basis. EGS's mission is to provide the best gaming events to all varieties of gamers and non-gamers.
                <br>
                <br>For general questions, comments, or event requests: info@egsrit.com
            </div>
        </div>
        <br>
        {% include 'utility/board.html.twig' %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/websiteStyles2.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/homepage/homepage.js') }}"></script>
{% endblock %}
