{% extends 'base.html.twig' %}

{% block title %} Membership {% endblock %}

{% block content %}
    <div id="content">
        <h1 id="memberH1">How to obtain an EGS Membership:</h1>
        <p id="Membership"> EGS offers open-membership, meaning all active participants are considered members of our club. With EGS Premium Membership, you're directly helping us fund future events that bring the community together. With Premium Membership, you'll have the ability to rent games from our expanding library for one week at a time.</p>

	<br></br>

<p id="Membership"> We have a variety of titles to choose from and games for every major system. You will also get discounted tickets to all our paid-entry events, tournaments, and raffles and 33% off of EGS T-Shirts orders. One payment of $10 grants you Premium Membership for the remainder of the academic year (End of Spring semester).</p>

	<br></br>

<p id="Membership"> Seeking more out of Premium? We're always looking for feedback on how to make this a valuable experience by expanding what you can do with your membership. Email us at info@egsrit.com to start the conversation! *****Please note that selecting the Student Account payment option will add the charge to your eServices bill. If you wish to pay with Tiger Bucks, you must do so in person at any of our weekly events.
        </p>

        <br><br>

        <h2 id="memberH2">
            Sign up to be a member <a class="membership-link" href="https://campusgroups.rit.edu/store?store_id=333">here</a>.
        </h2>
    </div>
{% endblock %}

{% block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/websiteStyles2.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/homepage/homepage.js') }}"></script>
{% endblock %}
