{% extends 'base.html.twig' %}

{% block title %} Membership {% endblock %}

{% block content %}
    <h2>How to obtain an EGS Membership:</h2>
    <p>
        RIT SG sponsored clubs, such as EGS is open membership.
        However, if you want to participate in our specialized membership benefits, we're here for your gaming benefits!
        <br>Just ask an EGS Executive Board Member to join and we'll sign you up.
        <br>1 Academic year membership price: $10
    </p>

    <h3>Membership Benefits:</h3>

    <ul class="list-group">
        <li class="list-group-item flex-column align-items-start list-group-item-dark">
            <h5 class="mb-1">Reduced prices on LAN and tournament entry</h5>
            <p class="mb-1">Deduction of $5.</p>
        </li>
        <li class="list-group-item flex-column align-items-start list-group-item-dark">
            <h5 class="mb-1">Early Access</h5>
            <p class="mb-1">Early entry of our LAN parties.</p>
        </li>
        <li class="list-group-item flex-column align-items-start list-group-item-dark">
            <h5 class="mb-1">T-Shirts!</h5>
            <p class="mb-1">$5 off of T-Shirt price.</p>
            <p class="mb-1"><i>Combo Deal; membership and t-shirt for $20. (Original pricing; membership: $10, t-shirt $15. Get $5 off with our sweet combo deal!)</i></p>
        </li>
        <li class="list-group-item flex-column align-items-start list-group-item-dark">
            <h5 class="mb-1">GG Giveaway</h5>
            <p class="mb-1">Get some swag or gaming hardware from our Sponsors!</p>
        </li>
        <li class="list-group-item flex-column align-items-start list-group-item-dark">
            <h5 class="mb-1">Game Rentals</h5>
            <p class="mb-1">EGS has an extensive game library for every platform from old to new generation console games. EGS members are allowed to borrow a game for one week.</p>
            <ul class="mb-1">
                <li>To borrow a game, the student EGS member must read over the Game Rental Contract and sign it with one of our EGS Executive Board members.</li>
                <li>Simple Rules; The game must be returned within one week of its signed contract date, in its original condition, and with the 'EGS' label on it.
                An EGS member may only borrow one game at a time.
                The EGS member must follow all Federal, State, Local City, and RIT laws and policies.
                If any violation of this contract occurs or the game disc is returned damaged, the student EGS member's privilege of game renting will be revoked and they will be asked to replace the disc as it is RIT property.
                To read and discuss the Game Rental contract, and take out a game, please speak with an EGS Executive Board member, and they will gladly assist you.</li>
                <li>(We will be uploading a game library inventory list soon!)</li>
            </ul>
        </li>
    </ul>

    <a class="btn bg-egs-orange w-100" href="https://www.rit.edu/clubs/payments/2563/Electronic-Gaming-Society">Sign up to be a member here</a>.
{% endblock %}